[job_builder]
ignore_cache=True
keep_descriptions=False
include_path=.:scripts:~/git/
recursive=False
exclude=.*:manual:./development
allow_duplicates=False

[jenkins]
url = {{ jenkins_url }}
user = {{ jenkins_admin_username }}
password = {{ jenkins_admin_password }}
query_plugins_info=False
