json={
  "credentials": {
    "scope": "GLOBAL",
    "id": "{{ credential.value.id }}",
    "accessKey": "{{ credential.value.accessKey }}",
    "secretKey": "{{ credential.value.secretKey }}",
    "description": "{{ credential.value.description }}",
    "$class": "com.cloudbees.jenkins.plugins.awscredentials.AWSCredentialsImpl"
  }
}