json={
  "credentials": {
    "scope": "GLOBAL",
    "id": "{{ credential.value.id }}",
    "secret": "{{ credential.value.secret }}",
    "description": "{{ credential.value.description }}",
    "$class": "org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl"
  }
}