json={
  "credentials": {
    "scope": "GLOBAL",
    "id": "{{ credential.key }}",
    "username": "{{ credential.value.username }}",
    "privateKeySource": {
      "privateKey": "{{ credential.value.private_key | replace('\n', '\\n')}}",
      "$class": "com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$DirectEntryPrivateKeySource"
    },
    "passphrase": "{{ credential.value.passphrase }}",
    "description": "{{ credential.value.description }}",
    "$class": "com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey"
  }
}