json={
  "credentials": {
    "scope": "GLOBAL",
    "id": "{{ credential.key }}",
    "username": "{{ credential.value.username }}",
    "password": "{{ credential.value.password }}",
    "description": "{{ credential.value.description }}",
    "$class": "com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl"
  }
}